<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rclone</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>https://rclone-mcp.shannonjlove.cloud</string>
	</dict>
	<key>googleDrive</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
	<key>dropbox</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
	<key>oneDrive</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
	<key>box</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
	<key>pCloud</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
	<key>aliyunDrive</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
	<key>baiduPan</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
	<key>drive115</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
	<key>drive123</key>
	<dict>
		<key>appId</key>
		<string></string>
		<key>appSecret</key>
		<string></string>
		<key>redirectUrl</key>
		<string>oauth-swift://oauth-callback</string>
	</dict>
</dict>
</plist>
